#wishListButton {
  width: 50%;
  background-color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  color: #ffffff;
}

#wishListButton:hover {
  background-color: #ffffff;
  color: var(--tertiary-color);
}
