#wishListButton {
  width: 50%;
  background-color: aqua;
  border: none;
  color: black;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.wishlist h2 {
  margin-bottom: 10px;
}

.wishlist img {
  width: 100%;
  margin-top: 5px;
}

.wishlist ul {
  list-style: none;
}

.wishlist ul li {
  margin-bottom: 10px;
}

.pagination-btn {
  width: 40px;
  height: 35px;
  cursor: pointer;
}
