.App {
  background-color: #ff9e00;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.left-box,
.right-box {
  min-height: 85vh;
}

.left-box {
  color: #191923;
  padding: 30px;
  width: 40%;
  background-color: #e68e00;
  border-top: 12px solid #fbfef9;
  border-left: 12px solid #fbfef9;
  border-bottom: 12px solid #fbfef9;
  border-right: 6px solid #fbfef9;
  border-radius: 15px;
}

.right-box {
  color: #191923;
  padding: 30px;
  width: 8%;
  background-color: #e68e00;
  border-top: 12px solid #fbfef9;
  border-left: 6px solid #fbfef9;
  border-bottom: 12px solid #fbfef9;
  border-right: 12px solid #fbfef9;
  border-radius: 15px;
}
