:root {
  --primary-color: #0c21c4;
  --secondary-color: #0d9938;
  --tertiary-color: #c92017;
}

.App {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.left-box,
.right-box {
  min-height: 85vh;
}

.left-box {
  color: #000000;
  padding: 30px;
  width: 40%;
  background-color: #e7eafd;
  border-top: 12px solid var(--primary-color);
  border-left: 12px solid var(--primary-color);
  border-bottom: 12px solid var(--primary-color);
  border-right: 6px solid var(--primary-color);
  border-radius: 15px;
}

.right-box {
  color: #000000;
  padding: 30px;
  width: 8%;
  background-color: #e7eafd;
  border-top: 12px solid var(--primary-color);
  border-left: 6px solid var(--primary-color);
  border-bottom: 12px solid var(--primary-color);
  border-right: 12px solid var(--primary-color);
  border-radius: 15px;
}
